---
layout: post
title: "Socials"
permalink: /socials/
---

{% if site.data.social-media %}
<div id="socials-container">
    {% assign sm = site.data.social-media %}
    {% for entry in sm %}
        {% assign key = entry | first %}
        {% if sm[key].id %}
            <div class="socials-box">
                <a rel="me" href="{{ sm[key].href }}{{ sm[key].id }}" class="socials-link" title="{{ sm[key].title }} link." target="_blank">
                    <img src="/assets/icons/socials/{{ sm[key].icon-name }}" class="socials-icon" alt="{{ sm[key].title }} icon.">
                    <h1 class="socials-title">
                        {{ sm[key].title }}
                    </h1>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}