<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% seo %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icons/ghost_icon_32x32.webp" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icons/ghost_icon_16x16.webp" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icons/ghost_icon_180x180.webp" | relative_url }}">

  <!-- RSS -->
  {% feed_meta %}
</head>
